.header,
.nav,
.menu{
    display: flex;
}

.header{
    flex-direction: row-reverse;
    padding: 27px 59px;
    height: 84px;
}

.nav{
    gap: 34px;
}

    .nav__link{
        text-decoration: none;
        color: var(--black);
    }

    .nav__link--actived{
        color: var(--primary);
    }

    .nav__link--icon-only{
        display: none;
    }

.menu{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 6px;
}

    .menu__linea{
        width: 30px;
        height: 0;
        border: 1.6px solid var(--dark); 
    }



@media (max-width: 375px) {
    .header{
        padding: 20px 18px 12px;
        height: 50px;
    }

    .nav__link{
        display: none;
    }

    .nav__link--icon-only{
        display: block;
    }

}