.container{
    padding-left: var(--desktop-padding-normal-content);
    padding-right: var(--desktop-padding-normal-content);
}

.container--home{
    padding-left: var(--desktop-padding-home-content);
    padding-right: var(--desktop-padding-home-content);
}

.main{
    padding-top: 126px;
    padding-bottom: 64px;
}

.main--blog{
    padding-top: 76px;
    padding-bottom: 26px;
}

.main--work{
    padding-top: 76px;
    padding-bottom: 10px;
}

.main--work-detail{
    padding-top: 65px;
    padding-bottom: 27px;
}




/* PAGE-HOME
SECCION-HERO */
.container--hero{
    padding-right: 142px;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 60px;
}

    .hero__container{
        display: flex;
        align-items: center;
        gap: 116px;
    }

    .hero__content{
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    .hero__title,
    .hero__description{
        color: var(--dark);
    }

    .hero__image{
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .hero__image-container{
            position: relative;
            padding-left: 6px;
            padding-bottom: 6px;
        }

        .hero__image-shadow,
        .hero__image-img{
            width: var(--desktop-size-photo);
            height: var(--desktop-size-photo);
            border-radius: 50%;
        }

        .hero__image-shadow{
            position: absolute;
            top:13px;
            right: 6px;
            background-color: var(--light-blue);
            z-index: 1;
        }

        .hero__image-img{
            position: relative;
            z-index: 2;
        }

    .hero__button{
        display: inline-flex;
        height: 47px;
        width: 208px;
        background-color: var(--primary);
        border-radius: 2px;
        padding: 8.81px 20.18px;
    }

        .hero__button__link{
            text-decoration: none;
            color: var(--white);
            white-space: nowrap;
        }


/* SECCION RECENT-POSTS */
.recent-posts{
    background-color: var(--light-blue);
    padding-top: 7px;
    padding-bottom: 32px;
}

    .recent-posts__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2px;
    }

    .recent-posts__title {
        color: var(--dark);
        font-weight: var(--desktop-body-large-text-regular-label-font-weight);
        font-size: var(--desktop-body-large-text-regular-label-font-size);
        letter-spacing: var(--desktop-body-large-text-regular-label-letter-spacing);
        line-height: var(--desktop-body-large-text-regular-label-line-height);
    }

    .recent-posts__viewall{
        text-decoration: none;
        color: var(--secondary);
    }

    .recent-posts__content{
        display: flex;
        gap: 20px;
    }

.card-post{
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: var(--white);
    padding: 30.5px 22px;
}

    .card-post__title,
    .card-post__metadata-text,
    .card-post__description{
        color: var(--dark);
    }

    .card-post__title{
        height: 77px;
    }

    .card-post__metadata{
        display: flex;
        height: 27px;
        gap: 28px;
    }

    .card-post__metadata-text{
        font-weight: var(--desktop-body-medium-text-regular-font-weight);
        font-size: var(--desktop-body-medium-text-regular-font-size);
        letter-spacing: var(--desktop-body-medium-text-regular-letter-spacing);
        line-height: var(--desktop-body-medium-text-regular-line-height);
    }


/* SECCIÓN FEATURED-WORKS */
.featured{
    padding-top: 15px;
}

    .featured__header{
        margin-bottom: 10px;
    }

    .featured__title,
    .card__content-description{
        color: var(--dark);
    }

    .featured__title{
        font-weight: var(--desktop-body-large-text-regular-label-font-weight);
        font-size: var(--desktop-body-large-text-regular-label-font-size);
        letter-spacing: var(--desktop-body-large-text-regular-label-letter-spacing);
        line-height: var(--desktop-body-large-text-regular-label-line-height);
    }

    .featured__content{
        display: flex;
        flex-direction: column;
        gap: 31px;
    }

.card{
    display: flex;
    gap: 18px;
    padding-bottom: 14px;
    border-bottom: 1px var(--gray) solid;
}

    .card__img{
        display: flex;
        align-items: center;
        padding: 12px 0;
    }

    .card__content-header{
        margin-bottom: 1px;
    }

    .card__content-title{
        height: 45px;
        font-weight: var(--desktop-heading-h3-font-weight);
        font-size: var(--desktop-heading-h3-font-size);
        letter-spacing: var(--desktop-heading-h3-letter-spacing);
        line-height: var(--desktop-heading-h3-line-height);
    }

    .card__content-link{
        color: var(--dark);
        text-decoration: none;
    }

    .card__content-metadata{
        display: flex;
        gap: 26px;
        height: 60px;
        align-items: center;
        margin-bottom: 5px;
    }

    .card__content-metadata-date{
        background-color: var(--dark-2);
        color: var(--white);
        line-height: normal;
        border-radius: 16px;
        padding-left: 10px;
        padding-right: 10px;
        height: 25px;
        width: 62px;
    }

    .card__content-metadata-text{
        color: var(--light);
        font-weight: var(--desktop-body-large-text-regular-font-weight);
        font-size: var(--desktop-body-large-text-regular-font-size);
        letter-spacing: var(--desktop-body-large-text-regular-letter-spacing);
        line-height: var(--desktop-body-large-text-regular-line-height);
    }




/* PAGE-BLOG
SECCION-BLOG */

.blog{
    display: flex;
    flex-direction: column;
    gap: 55px;
}

    .blog__title
    {
        color: var(--dark);
        height: 54px;
        font-weight: var(--desktop-heading-h1-font-weight);
        font-size: var(--desktop-heading-h1-font-size);
        letter-spacing: var(--desktop-heading-h1-letter-spacing);
        line-height: var(--desktop-heading-h1-line-height);
    }

    .blog__content{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

.card-post--blog{
    padding: 0;
    gap: 6px;
    padding-bottom: 41px;
    border-bottom: 1px solid var(--gray);
}

    .card-post__title--blog{
        height: 47px;
        font-weight: var(--desktop-heading-h4-font-weight);
        font-size: var(--desktop-heading-h4-font-size);
        letter-spacing: var(--desktop-heading-h4-letter-spacing);
        line-height: var(--desktop-heading-h4-line-height);
    }

    .card-post__metadata--blog{
        height: 30px;
        gap: 23px;
    }

        .card-post__metadata-text--blog{
            font-weight: var(--desktop-body-large-text-regular-font-weight);
            font-size: var(--desktop-body-large-text-regular-font-size);
            letter-spacing: var(--desktop-body-large-text-regular-letter-spacing);
            line-height: var(--desktop-body-large-text-regular-line-height);
        }

        .card-post__metadata-text--gray{
            color: var(--light);
        }




/* PAGE-WORK
SECCION-WORK */
.work{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

    .work__title{
        color: var(--dark);
        height: 69px;
        font-weight: var(--desktop-heading-h1-font-weight);
        font-size: var(--desktop-heading-h1-font-size);
        letter-spacing: var(--desktop-heading-h1-letter-spacing);
        line-height: var(--desktop-heading-h1-line-height);
    }

    .work__content{
        display: flex;
        flex-direction: column;
        gap: 44px;
    }

.card--work{
    padding-bottom: 34px;
}

.card--show{
    display: none; 
}


/* Media Querys */
@media (max-width: 975px) {
    .container{
        padding-left: var(--mobile-padding-normal-content-left);
        padding-right: var(--mobile-padding-normal-content-right);
    }

    .main{
        padding-top: 33px;
        padding-bottom: 144px;
    }

    .main--blog{
        padding-top: 24px;
        padding-bottom: 57px;
    }

    .main--work{
        padding-top: 24px;
        padding-bottom: 0;
    }

    /* PAGE-HOME
    SECCION-HERO */
    .hero{
        margin-bottom: 62px;
        align-items: center;
    }

        .hero__container{
            flex-direction: column;
            gap: 34px;
        }

        .hero__content{
            gap: 21px;
            text-align: center;
            order: 2;
        }

        .hero__image{
            order: 1;
        }

            .hero__image-container{
                padding-left: 3.5px;
                padding-bottom: 2.15px;
            }

            .hero__image-shadow{
                top:9.14px;
                right: 3.52px;
            }

    /* SECCION-RECENT-POSTS */
    .recent-posts__content{
        flex-direction: column;
        gap: 17px;
    }

    /* SECCION FEATURED-WORKS */
    .featured{
        padding-top: 3px;
    }

        .featured__header{
            text-align: center;
            margin-bottom: 3px;
        }

        .featured__content{
            gap: 22px;
        }

    .card{
        flex-direction: column;
        gap: 16px;
        padding-bottom: 24px;
    }

        .card__img{
            justify-content: center;
            padding: 0;
        }

        .card__img img{
            width: 344px;
            height: 230px;
        }




    /* PAGE-BLOG
    SECCION-BLOG */
        .blog,
        .blog__content{
            gap: 18px;
        }

}

@media (max-width: 615px) {

    /* PAGE-HOME */
    .container--hero{
        padding-left: var(--mobile-padding-home-hero-left);
        padding-right: var(--mobile-padding-home-hero-right);
    }

    .container--recentposts{
        padding-left: var(--mobile-padding-home-recentposts);
        padding-right: var(--mobile-padding-home-recentposts);
    }

    .container--featured{
        padding-left: var(--mobile-padding-home-featured-left);
        padding-right: var(--mobile-padding-home-featured-right);
    }

}

@media (max-width: 375px) {



    /* PAGINA - HOME */
    /* SECCIÓN HERO */

    .hero{
        gap: 25px;
    }

        .hero__title{
            padding: 0 8px;
        }

            .hero__image-shadow,
            .hero__image-img{
                width: var(--mobile-size-photo);
                height: var(--mobile-size-photo);
            }

    /* SECCIÓN RECENT-POSTS */

    .recent-posts{
        background-color: var(--light-blue);
        padding-top: 1px;
        padding-bottom: 37px;
    }

        .recent-posts__header{
            justify-content: center;
            padding: 0;
        }
        
        .recent-posts__title{
            font-weight: var(--mobile-body-large-text-regular-font-weight);
            font-size: var(--mobile-body-large-text-regular-font-size);
            letter-spacing: var(--mobile-body-large-text-regular-letter-spacing);
            line-height: var(--mobile-body-large-text-regular-line-height);
        }
        

        .recent-posts__viewall--hidden{
            display: none;
        }

        .recent-posts__content{
            gap: 17px;
        }

    .card-post{
        gap: 11px;
        padding: 21.5px 12.5px;
    }

        .card-post__title{
            height: 60px;
        }

        .card-post__metadata{
            height: 24px;
            gap: 24px;
        }

        .card-post__metadata-text{
            font-weight: var(--mobile-body-normal-text-regular-font-weight);
            font-size: var(--mobile-body-normal-text-regular-font-size);
            letter-spacing: var(--mobile-body-normal-text-regular-letter-spacing);
            line-height: var(--mobile-body-normal-text-regular-line-height);
        }

        .card-post__description{
            padding-right: 13px;
            height: 117px;
        }

    /* SECCION-FEATURED-WORKS */
    .featured__title{
        font-weight: var(--mobile-body-large-text-regular-font-weight);
        font-size: var(--mobile-body-large-text-regular-font-size);
        letter-spacing: var(--mobile-body-large-text-regular-letter-spacing);
        line-height: var(--mobile-body-large-text-regular-line-height);
    }

    .card--hidden{
        display: none;
    }

    .card__content-header{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 24px;
    }

    .card__content-title{
        height: 30px;
        font-weight: var(--mobile-heading-h4-font-weight);
        font-size: var(--mobile-heading-h4-font-size);
        letter-spacing: var(--mobile-heading-h4-letter-spacing);
        line-height: var(--mobile-heading-h4-line-height);
    }

    .card__content-metadata{
        height: 25px;
        gap: 21px;
        margin: 0;
    }

    .card__content-metadata-date{
        padding-left: 12px;
        padding-right: 12px;
    }

    .card__content-metadata-text{
        font-weight: var(--mobile-body-normal-text-regular-font-weight);
        font-size: var(--mobile-body-normal-text-regular-font-size);
        letter-spacing: var(--mobile-body-normal-text-regular-letter-spacing);
        line-height: var(--mobile-body-normal-text-regular-line-height);
    }




    /* PAGE-BLOG
    SECCIÓN BLOG */
    .blog__title{
        height: 60px;
        font-weight: var(--mobile-heading-h2-font-weight);
        font-size: var(--mobile-heading-h2-font-size);
        letter-spacing: var(--mobile-heading-h2-letter-spacing);
        line-height: var(--mobile-heading-h2-line-height);
    }

    .card-post--blog{
        padding: 0;
        gap: 18px;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--gray);
    }

        .card-post__title--blog{
            height: 39px;
            font-weight: var(--mobile-heading-h3-font-weight);
            font-size: var(--mobile-heading-h3-font-size);
            letter-spacing: var(--mobile-heading-h3-letter-spacing);
            line-height: var(--mobile-heading-h3-line-height);
        }

        .card-post__container{
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        .card-post__metadata--blog{
            gap: 15px;
        }

        .card-post__description--blog{
            height: 94px;
        }




    /* PAGE-WORK
    SECCION-WORK */
    .work{
        gap: 13px;
    }

        .work__title{
            height: 60px;
            font-weight: var(--mobile-heading-h2-font-weight);
            font-size: var(--mobile-heading-h2-font-size);
            letter-spacing: var(--mobile-heading-h2-letter-spacing);
            line-height: var(--mobile-heading-h2-line-height);
        }

        .work__content{
            gap: 22px;
        }
    
    .card--work{
        padding-bottom: 23px;
    }

    .card--show{
        display: flex; 
    }
}